DATABASE_URL=postgresql+asyncpg://user:password@host/dbname                                                                                   
SECRET_KEY=                                                                                                                                   
OPENAI_API_KEY=