services:
  db:
    image: postgres:15-alpine
    container_name: docs_summary_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres_db
    ports:
        - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/dockerfile
    container_name: docs_summary_backend
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/postgres_db
      SECRET_KEY: secret_key_value
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/backend/uploads
    depends_on:
      - db
    
volumes:
  db_data: